body{
 
  padding-top: 88px;
}
.logo{
  height: 47px
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
	            0 4px 8px 0 rgba(0,0,0,.05);
}


#home-quote{
  background-image: url('../img/planner2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom
  
}